body {
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}
div{
    padding: 5% 25%;
}
h1, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
code{
    background-color: black;
    color: white;
    display: block;
    padding: 1%;
    font-size: 1rem;
}
